{% extends "base.html" %}
{% load static %}

{% block head %}
    <title>Goals</title>
{% endblock %}

{% block body %}
    <div>
        <img src="{% static '/images/photo-1502086223501-7ea6ecd79368.jfif' %}" alt="" style="width: 100%;">
    <div>

    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Educate the whole child</h2>
                <p>Montessori curriculums focus on the holistic view of a child. Learning experiences foster children's physical, emotional, social, and intellectual development (Montessori Academy, n.d.). The Montessori curriculum views children development and learning important thus provides sensorial, cultural, and practical life skills (Montessori Academy, n.d.). One of the practices outlined in the Early Years Learning Framework is holistic approaches. DET (2019) suggests that when educators practice holistic approaches, they look at children learning as connections between children, families, communities, and the natural environment.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Promote intrinsic motivation</h2>
                <p>The Montessori approach encourages children to develop their intrinsic motivation when they learn the materials independently and a sense of achievement when they complete an activity (Montessori, n.d). O'Donnell (2018) defines intrinsic motivation as an inner desire, an inner psychological need to engage in learning. Intrinsic motivation has positive outcomes on learning, such as persistence, creativity, initiative, and productive functioning (O'Donnell, 2018). These benefits are linked to learning outcome 4.1. According to DET (2019), learning outcome 4.1 children develop positive dispositions such as persistence, imagination, cooperation, and confidence.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Independence</h2>
                <p>The prepared environment encourages children to think and learn by themselves. The learning materials and learning environment encourage children to learn by themselves and critical think (Montessori Academy, n.d.). Children pace their learning and engage with the materials as much as they need and want to. The materials in practical life provide children with real-life materials and encourage children to be independent at school and home. This goal is in alignment with goal 2 of the Melbourne Declaration on Educational Goals for Young Australians. According to Ministerial Council on Education, Employment, Training and Youth Affairs [MCEETYA] (2008), goal 2 aims to ensure that all young Australians to be successful in learning. This can be achieved when learners take an active role in their learning, and the Montessori approach encourages children to oversee their learning.</p>
            </div>
        </div>
    </div>
    


{% endblock %}