{% extends "base.html" %}
{% load static %}

{% block head %}
    <title>Positions on play</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <p>Playful learning covers both free play and guided play. Significantly, Montessori features playful learning in various forms. These include the following:</p>
        </div>
        <div class="row">
            <div class="col">
                <ul>
                    <li>
                        <h2>Overall structure</h2>
                        <p>A conventional educational program that observes the theories of playful learning, where the educator provides structured learning by directing children’s learning towards set goals. Children are given the freedom to select their activities while educators casually direct them. However, the overall structure in a Montessori approach is described as the integration of freedom within the structure and vice-versa. Hence, a Montessori education promotes free choice, but the process itself remains strictly structured (Maghfiroh, 2021).</p>
                    </li>
                    <li>
                        <h2>The use of materials</h2>
                        <p>Conventional teaching usually requires resources that encourage children to manipulate to learn. On the contrary, playful learning normally includes materials to which children can at the same time play and learn. While a Montessori approach thrives with resources appropriate to utilization in the learning process. This suggests that an educator in a Montessori classroom aims for regular use of these objects to made emphasis on particular learning. Hence like playful learning, Montessori play includes materials that are critically designed and implemented to intensify learning (Montessori et al., 2017).</p>
                    </li>
                    <li>
                        <h2>Interactive learning programs</h2>
                        <p>In playful learning commonly demonstrates interaction when it is more directed and less interactive as it becomes unbounded. However, guided play is where the educator instructs children on how to navigate learning resources. For example, in a lesson about shapes, an educator elaborates the primary lesson by questioning children to examine similarities of all triangles, although questioning, will allow children to reach the desired description of triangles. Montessori programs can also be interactive. A Montessorian educator consistently identifies children’s learning and development readiness by observing their interactions with resources they have learned in their previous lessons. Hence, Montessori programs make emphasise meaningful interactions same as guided playful learning (Bone, 2017).</p>
                    </li>
                    <li>
                        <h2>Free Choice</h2>
                        <p>Normally, educators in a conventional educational setting have the will to choose learning experiences for children. Children have a limited opinion. Moreover, with playful learning, children’s interest is highly recognised. It is important in playful learning that educators serve as facilitators, children are not forced rather they participate when they chose to. However, in Montessori, the choice is dependent on children’s level of learning. Free choice occurs at the macro level of the learning environment, mostly, Montessori learners choose what they want to explore. Interestingly, both Montessori and play displays offer the curriculum that ensures learning occurs within the idea of free choice (Henricks, 2020).</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            In summary, Montessori and playful learning are similar in many approaches which both contradict conventional learning. Both recognise a mix of freedom and structure including the use of educative resources, interactive educator programs, free choice of learning experiences, interaction with peers --- most activities are intrinsically motivated instead of extrinsically rewarded which makes it more engaging (Lillard, 2013).
        </div>
        <div class="row">
            <div>
                <img src="{% static '/images/position1.png' %}" alt="" style="width: 100%;">
                <p>Figure 12: Crabapple Montessori School (n.d.)</p>
            </div>
            <div>
                <img src="{% static '/images/position2.png' %}" alt="" style="width: 100%;">
                <p>Figure 13: Nursery world (n.d.)</p>
            </div>
        </div>
    </div>
{% endblock %}