{% extends "base.html" %}
{% load static %}

{% block head %}
    <title>Positions on play</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <ul>
                    <li>
                        <p>Aljabreen, H. (2020). Montessori, Waldorf, and Reggio Emilia: A comparative analysis of alternative models of early childhood education. International Journal of Early Childhood, 52(0), 337-353. https://doi.org/10.1007/s13158-020-00277-1</p>
                    </li>
                    <li>
                        <p>Australian Children’s Education and Care Quality Authority. (2018). Quality area 1 – Educational program and practice.https://www.acecqa.gov.au/nqf/national-quality-standard/quality-area-1-educational-program-and-practice</p>
                    </li>
                    <li>
                        <p>Australian Children’s Education and Care Quality Authority. (2016). Unpacking the planning cycle: Part 3. https://wehearyou.acecqa.gov.au/2016/09/15/unpacking-the-planning-cycle-part-3/.</p>
                    </li>
                    <li>
                        <p>Australian Children’s Education and Care Authority. (2020). Guide to the national quality framework. https://www.acecqa.gov.au/sites/default/files/2020-09/Guide-to-the-NQF-September-2020.pdf</p>
                    </li>
                    <li>
                        <p>Bennets, K. & Bone, J. (2020). Montessori literature through the lens of leadership. Journal of Montessori Research, 6(2), 1-12. https://eric.ed.gov/?id=EJ1288243</p>
                    </li>
                    <li>
                        <p>Bone, J. (2017). Maria Montessori as a domestic goddess: Iconic early childhood educator and material girl. Gender and Education, 31(6), 673-687. https://doi.org/10.1080/09540253.2017.1396293</p>
                    </li>
                    <li>
                        <p>Catherine, L., Javier, B. & Francisco, G. (2020). Four pillars of the Montessori Method and their support by current neuroscience. Mind, Brain, and Education, 14(4), 322-334. https://doi.org/10.1111/mbe.12262</p>
                    </li>
                    <li>
                        <p>Crabapple Montessori School. (n. d.). Work or play? A peek Inside the Montessori classroom [Digital photo]. https://www.crabapplemontessori.com/work-or-play-a-peek-inside-the-montessori-classroom/</p>
                    </li>
                    <li>
                        <p>Department of Education and Training. (n.d.). Developmental milestones and the early years learning framework and the national quality standards. https://www.acecqa.gov.au/sites/default/files/2018-02/DevelopmentalMilestonesEYLFandNQS.pdf</p>
                    </li>
                    <li>
                        <p>Department of Education and Training. (2019, March 6). Belonging, being and becoming – The early years learning framework for Australia. https://www.dese.gov.au/national-quality-framework-early-childhood-education-and-care/resources/belonging-being-becoming-early-years-learning-framework-australia</p>
                    </li>
                    <li>
                        <p>Education and Care Services National Regulations 2011 (SI 653). https://www.legislation.nsw.gov.au/view/pdf/asmade/sl-2011-653</p>
                    </li>
                    <li>
                        <p>Gacoyne, S. (2019). What children learn from messy play. https://doi.org/10.12968/eyed.2019.21.7.38</p>
                    </li>
                    <li>
                        <p>Gu, C. (2020). The influences from Montessori to the early years' children. Advances in Social Science, Education and Humanities Research, 480(1), 280- 283.</p>
                    </li>
                    <li>
                        <p>Henricks, T.S. (2020). Play studies: A brief history. American Journal of Play, 12(2), 114.155. https://eric.ed.gov/?id=EJ1255272</p>
                    </li>
                    <li>
                        <p>Lillard, A. S. (2013). Playful learning and Montessori education. American Journal of Play, 5(2), 157-186. https://files.eric.ed.gov/fulltext/EJ1003949.pdf</p>
                    </li>
                    <li>
                        <p>Lillard, A. (2018). Rethinking education: Montessori’s approach. https://doi.org/10.1177%2F0963721418769878</p>
                    </li>
                    <li>
                        <p>Lillard, A. (2020). Montessori as alternative early childhood education. Early Child Development and Care, 191(8), 1196-1206. https://doi.org/10.1080/03004430.2020.1832998</p>
                    </li>
                    <li>
                        <p>Maghfiroh, M. (2021). The concept of Maria Montessori in early childhood education. Proceeding of International Conference on Islamic Education, 2(1), 317-324.</p>
                    </li>
                    <li>
                        <p>Marshall, C. (2017). Montessori education: A review of the evidence base. Science of Learning, 2(11), 1-9. doi:10.1038/s41539-017-0012-7</p>
                    </li>
                    <li>
                        <p>Manalapan Montessori. (2020). What are sensitive periods in Montessori and how do they affect child development. https://manalapanmontessori.com/blog/blog-what-are-sensitive-periods-in-montessori-and-how-do-they-they-affect-child-development/</p>
                    </li>
                    <li>
                        <p>Montessori Academy. (n.d.). Montessori curriculum. https://montessoriacademy.com.au/montessori-education/montessori-curriculum/</p>
                    </li>
                    <li>
                        <p>[Montessori Group Activity] [Online Image]. (n.d.).
                            https://montessoriacademy.com.au/australia-day-celebrations/</p>
                    </li>
                    <li>
                        <p>Montessori, M., Hunt, J.M. & Valsiner, J. (2017). The Montessori method. https://doi.org/10.4324/9781315133225</p>
                    </li>
                    <li>
                        <p>Murray, A., Johnston, L.C., Sabater, A. & Clark, K. (2020). Hidden black voices in the history of Montessori education. American Educational History Journal, 47(2), 205-221.</p>
                    </li>
                    <li>
                        <p>NSW Department of Education. (2020). Summative assessment. https://education.nsw.gov.au/teaching-and-learning/school-excellence-and-accountability/2021-school-excellence-in-action/school-excellence-terminology/summative-assessment.</p>
                    </li>
                    <li>
                        <p>Nursery World. (n. d.). A special report on Montessori. [Digital photo]. https://www.nurseryworld.co.uk/features/article/a-special-report-on-montessori</p>
                    </li>
                    <li>
                        <p>O’Donnell, A. M. (2014). Maria Montessori. Bloomsbury</p>
                    </li>
                    <li>
                        <p>O'Donnell, A. M. (Ed.). (2018). Educational psychology. Wiley</p>
                    </li>
                    <li>
                        <p>Povell, P. (2017). Maria Montessori. Yesterday, today, and tomorrow. Routledge</p>
                    </li>
                    <li>
                        <p>Romano, A. (2020). Maria Montessori: A complex and multifaceted historiographical subject. History of Psychology, 23(2), 203–207. https://doi.org/10.1037/hop0000150</p>
                    </li>
                    <li>
                        <ul>Saracho, O. & Evans, R. (2021). Early childhood education pioneers and their curriculum programs. Early Child Development and Care, 191(8), 1144-1151. https://doi.org/10.1080/03004430.2021.1917268</ul>
                    </li>
                    <li>
                        <ul>Sosnowska, J. (2020). The reception of Maria Montessori’s pedagogical theory in pre-school education in interwar Poland. Nauki o Wychowaniu. Studia Interdyscyplinarne, 11(2), 106-124.</ul>
                    </li>
                    <li>
                        <ul>Topic, K. & Colak, I. (2018). Psychology within Montessori pedagogy – theory and practice. Uniwersytet Humanistyczno-Przyrodniczy Im. Jana Dlugosza W Czestochowie Pedagogika, 17(2), 143-155. http://dx.doi.org/10.16926/p.2018.27.45</ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
